body{
    margin: 0;
    /* margin-top: 0; */

}
.sidebar {
    list-style-type: none;
    width: 25%;
    background-color:#17aecc;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin: 0;
}
.sidebar li a{
    text-decoration: none;
    color: white;
    display: block;
    /* padding-left: 1px; */
    /* padding: 20px 15px 10px 20px;  */
    padding: 8px 15px;
}
.sidebar li a.active{
    background-color: rgb(124, 206, 43);
}
.sidebar li a:hover{
    background-color: rgb(225, 215, 16);
}
.one{
    margin-left: 25%;
    height: auto;
    padding: 3px 15px;
}
.two ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.card img{
    display: block;
    height: auto;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar li a {
        float: left;
        padding: 10px;
    }
}
@media screen and (max-width: 400px) {
    .sidebar li a{
        text-align: center;
        float: none;
    }
    .one{
        margin-left: 0;
    }
    .two ul{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}